header {
  background-color: $darkestColour;
  color: $lightestColour;
  min-height: 1100px;
  height: 90vh;
  position: relative;
  flex: 1 0 auto;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .inputBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    background-color: $backgroundColour;
    border: 3px solid $lightestColour;
    padding: 5rem 0 5rem 0;
    border-radius: 0.5em;
    box-shadow: 5px 5px 5px rgba(39, 35, 35, 0.664);
    position: relative;
    top: -175px;
    z-index: 2;
  }

  p {
    text-shadow: 2px 2px 2px $accentColour;
    margin-bottom: 2rem;
    color: $lightestColour;
    max-width: 40%;
  }

  button {
    background-color: $darkestColour;
    color: $lightestColour;
    border-radius: 0.25em;
    padding: 1rem 2rem 1rem 2rem;
    box-shadow: 2px 2px 2px rgba(39, 35, 35, 0.664);
    position: relative;
    transition: background-color 0.2s;
  }

  button:hover,
  button:focus {
    background-color: $accentColour;
  }

  button:active {
    top: 1px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  svg {
    position: absolute;
    bottom: 0;
    text-align: center;
    overflow: hidden;
    z-index: 0;
  }
}

h1 {
  font-weight: 600;
  text-shadow: 2px 2px 2px $accentColour;
  margin-bottom: 2rem;
  color: $lightestColour;
  max-width: 60%;
}

input[type="text"] {
  background-color: $darkestColour;
  border: 1px solid $lightestColour;
  border-radius: 0.25em;
  color: $lightestColour;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
}

button {
  background-color: $backgroundColour;
  color: $lightestColour;
  border-radius: 0.25em;
  padding: 1rem 2rem 1rem 2rem;
  box-shadow: 2px 2px 2px $darkestColour;
  position: relative;
  transition: background-color 0.2s;
}

::placeholder {
  color: #dea07c;
}

.filterButtons {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  background-color: #555a49;
  padding: 2rem;
  border-radius: 0.5em;
  box-shadow: 2px 2px 2px rgba(39, 35, 35, 0.664);
  border: 2px solid $lightestColour;
  .filterList {
    background-color: $darkestColour;
    color: $lightestColour;
    border: 1px solid $lightestColour;
    border-radius: 0.25em;
    padding: 1rem;
  }
  a {
    background-color: $darkestColour;
    color: $lightestColour;
    border-radius: 0.25em;
    padding: 1rem 2rem 1rem 2rem;
    box-shadow: 2px 2px 2px rgba(39, 35, 35, 0.664);
    position: relative;
    transition: background-color 0.2s;
    margin-top: 1rem;
  }
  a:hover,
  a:focus {
    background-color: $accentColour;
  }

  a:active {
    top: 1px;
  }
}
