@media (max-width: 1200px) {
  .displayCardBack {
    li {
      width: 80%;
    }
  }
}

@media (max-width: 1140px) {
  .inputBox {
    top: 0px !important;
  }
}

@media (max-width: 1060px) {
  main {
    padding-bottom: 10rem;
  }
}

@media (max-width: 615px) {
  .inputBox {
    h1 {
      max-width: 80%;
    }
    p {
      max-width: 70%;
    }
  }
}

@media (max-width: 340px) {
  .wrapper {
    width: 90%;
  }
}
