main {
  position: relative;
  padding: 1rem 0 30rem 0;
  .wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  svg {
    position: absolute;
    bottom: 0;
    text-align: center;
    overflow: hidden;
    z-index: 0;
    margin-top: 5rem;
  }
  ul {
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 3rem;
    margin-bottom: 15rem;
    li {
      button {
        position: absolute;
        bottom: 20px;
        right: 20px;
        text-align: center;
        z-index: 2;
        background-color: $darkestColour;
        color: $lightestColour;
        border-radius: 0.25em;
        padding: 1rem 2rem 1rem 2rem;
        box-shadow: 5px 5px 5px rgba(39, 35, 35, 0.664);
        transition: all 0.2s;
        border-color: $darkestColour;
        transition: all 0.2s;
      }
      button:hover,
      button:focus {
        background-color: $accentColour;
        border-color: $accentColour;
      }

      button:active {
        bottom: 19px;
      }
    }
  }
}

.displayCard {
  background-color: transparent;
  cursor: pointer;
  perspective: 1000px;
  z-index: 2;
  min-height: 500px;
}

.displayCardFront {
  box-shadow: 5px 5px 5px rgba(39, 35, 35, 0.664);

  .imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    img {
      max-height: 400px;
      align-self: center;
      padding: 1rem;
      border-bottom: 3px solid $lightestColour;
    }
  }

  h2 {
    margin-top: 0.5rem;
  }

  img {
    border-radius: 0.5em;
    align-self: center;
  }

  ul {
    list-style: none;

    li {
      list-style: none;
    }
  }
}

.displayCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: default;
}

.displayCard:hover .displayCardInner,
.displayCard:focus .displayCardInner,
.displayCard:active .displayCardInner {
  transform: rotateY(180deg);
}

.displayCardFront,
.displayCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: default;
  border-radius: 0.5em;
  padding: 20px;
  background-color: $darkestColour;
  color: $lightestColour;
  text-shadow: 1px 1px 2px $lightMidColour;
  display: flex;
  flex-direction: column;
}

.displayCardBack {
  transform: rotateY(180deg);
  text-align: left;
  li {
    margin: 1rem 0 1rem 0;
  }
  h3 {
    border-bottom: 1px solid $lightestColour;
  }
  position: relative;
}
